<!-- <h1>hello questions!</h1>
 -->
<h1><%= @post.title  %></h1>
<p><%= @post.body %></p>
<p><%= @post.user.email%></p>
<!-- <div class="texteditor">
	<div id="wmd-button-bar" class="wmd-panel"></div>
	<br/>
	<textarea rows="4" cols="50" id="wmd-input" class="wmd-panel"></textarea>
	<br/>
	<div id="wmd-preview" class="wmd-panel"></div>
	<br/>
	<div id="wmd-output" class="wmd-panel"></div>
	<input type="submit" value="Submit Your Question!">
</div> -->

	


