	<header>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="nav-barheader">
					<h2>Project Overflow</h2>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><%= link_to 'Home', root_path %></li>
						<li><%= link_to 'SignUp', new_user_path %></li>
						<li><%= link_to 'Questions', root_path %></li>
						<li><%= link_to 'BlogPosts', root_path %></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						
					</ul>
				</div>
			</div>
		</nav>
	</header>