<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="nav-barheader">
			<h2>NYCDA Overflow</h2>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><%= link_to 'Home', root_path %></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<%= render 'layouts/login' %>
			</ul>
		</div>
	</div>
</nav>
